<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Recipe",
      "name": "{{ .Title }}",
      "description": "{{ .Description }}",
      "recipeYield": "{{ .Params.recipeYield }}",
      "recipeCategory": "{{ .Params.recipeCategory }}",
      "recipeCuisine": "{{ .Params.recipeCuisine }}",
      "keywords": "{{ .Params.keywords }}",
      "datePublished": "2025-08-03",
      "prepTime": "{{ .Params.prepTime }}",
      "cookTime": "{{ .Params.cookTime }}",
      "totalTime": "{{ .Params.totalTime }}",
      "recipeIngredient": [
        {{ .Params.ingredients }}
      ],
      "recipeInstructions": [
        {{ .Params.steps }} 
      ]
    }
</script>
